<footer class="footer">
    <div class="container footer-container">
        <p class="footer-text">© 2026 — All rights reserved. longmeadow.pro</p>        
        <ul class="footer-navigation">
            <li class="footer-link">
                <a class="footer-underline" href="terms.html">Terms & Conditions</a>
                <p>•</p>
            </li>            
            <li class="footer-link">
                <a class="footer-underline" href="privacy.html">Privacy Policy</a>
            </li>
        </ul>

    </div>
</footer>