<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
            <h1 class="home-title">Long Meadow</h1>
            <p class="home-text">Look, it's just a simple puzzle - the way puzzles should be, you know?</p>
            <div class="home-line"></div>
            <div class="home-text-wrapper">
                <p class="home-text-two">You’re given a set of pieces and an empty outline. No bells and whistles or any of that crazy stuff. It's just you and
                the pieces, and then that satisfying click when something finally fits right.</p>
                <p>Drag each piece into the correct space. Rotate when you need to. Put it together piece by piece, one move at a time.</p>
            </div>
        </div>
            <picture>
                <source srcset="
                    /img/home/desk.png 1x,
                    /img/home/desk@2x.png 2x
                    " media="(min-width: 1440px)" />
                <source srcset="
                    /img/home/mob.png 1x,
                    /img/home/mob@2x.png 2x
                    " media="(max-width: 1439px)" />
                <img src="/img/home/mob.png" alt="Long Meadow" loading="lazy" />
            </picture>  
    </div>
</section>
<section class="what-section" id="what">
    <div class="container">
        <div class="what-title-container">
            <img src="/img/what/icon.png" alt="icon" loading="lazy">
            <h2>What This Game Is</h2>
            <div class="what-line"></div>
        </div>
        <div class="what-text">
            <p>Just ordinary piece puzzles, but <br class="mob"/> we've put real care into them.</p>
            <p>Shape Assembly's pretty straightforward, honestly - you've got these<br class="desk"/> scattered pieces and you need to fit<br class="mob"/> them into the
            right spots to<br class="desk" /> complete the shape. The<br class="mob" /> goal is straightforward, and that’s the point.<br class="desk" /> It’s a<br class="mob" /> game for people who like
            clarity.</p>
            <p>Each level starts messy and ends calm. You don’t “win” by rushing. You win<br class="desk" /> by noticing. By testing. By trusting your
            eyes.</p>
        </div>
    </div>
</section>