.footer {
border-top: 1px solid rgba(21, 21, 21, 0.32);
}
.footer-container{
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.footer-text{
  font-family: "Itim", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14286;
    color: #151515;
}
.footer-navigation{
  display: flex;
  justify-content: center;
  gap: 24px;
  font-family: "Itim", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14286;
    text-align: center;
    color: #151515;
}
.footer-link{
  display: flex;
  align-items: center;
  gap: 24px;
}
@media only screen and (min-width: 1440px) {
.footer-container{
  flex-direction: row;
  justify-content: space-between;
padding: 64px 185px;
}
.footer-text{
  font-size: 20px;
}
.footer-navigation{
  font-size: 20px;
}
}