.home-section{
background: linear-gradient(180deg,
            #e6f5e8 0%,
            rgba(198, 230, 201, 0.6) 50%,
            rgba(115, 249, 108, 0) 100%);
}
.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.home-wrapper{
    margin-top: 60px;
    width: 286px;
    height: 297px;
    display: flex;
    flex-direction: column;
   align-items: start;
}
.home-title{
    font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 30px;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #101828;
        text-align: left;
}
.home-text{
    margin-top: 10px;
    font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.04em;
        color: #5fb85f;
}
.home-line{
    margin-top: 36px;
    width: 64px;
        height: 2px;
        background: linear-gradient(90deg, #5fb85f 0%, rgba(85, 166, 85, 0.93) 7.14%, rgba(76, 149, 76, 0.86) 14.29%, rgba(67, 132, 67, 0.79) 21.43%, rgba(58, 116, 58, 0.71) 28.57%, rgba(49, 100, 49, 0.64) 35.71%, rgba(40, 84, 40, 0.57) 42.86%, rgba(32, 69, 32, 0.5) 50%, rgba(24, 55, 24, 0.43) 57.14%, rgba(16, 41, 16, 0.36) 64.29%, rgba(9, 27, 9, 0.29) 71.43%, rgba(4, 15, 4, 0.21) 78.57%, rgba(1, 5, 1, 0.14) 85.71%, rgba(0, 1, 0, 0.07) 92.86%, rgba(0, 0, 0, 0) 100%);
}
.home-text-wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    text-align: left;
    width: 272px;
}
@media only screen and (min-width: 1440px) {
.home-container{
    padding-top: 100px;
    flex-direction: row;
justify-content: center;
gap: 30px;
}
.home-wrapper{
    margin-top: 0;
    width: 592px;
}
.home-title{
    font-size: 60px;
}
.home-text{
    font-size: 24px;
    text-align: left;
}
.home-text-wrapper{
    margin-top: 30px;
    width: 530px;
}
}
/* What This Game Is */
.what-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.what-line{
    width: 64px;
        height: 2px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(1, 5, 1, 0.14) 7.14%, rgba(9, 27, 9, 0.29) 14.29%, rgba(24, 55, 24, 0.43) 21.43%, rgba(40, 84, 40, 0.57) 28.57%, rgba(58, 116, 58, 0.71) 35.71%, rgba(76, 149, 76, 0.86) 42.86%, #5fb85f 50%, rgba(76, 149, 76, 0.86) 57.14%, rgba(58, 116, 58, 0.71) 64.29%, rgba(40, 84, 40, 0.57) 71.43%, rgba(24, 55, 24, 0.43) 78.57%, rgba(9, 27, 9, 0.29) 85.71%, rgba(1, 5, 1, 0.14) 92.86%, rgba(0, 0, 0, 0) 100%);
}
.what-text{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
 .what-text{
    margin-top: 50px;
    gap: 32px;
    font-size: 20px;
        line-height: 1.6;
 }
 .mob{
    display: none;
 }
 .desk{
    display: block;
 }
}