.home-section{
background: linear-gradient(180deg,
            #e6f5e8 0%,
            rgba(198, 230, 201, 0.6) 50%,
            rgba(115, 249, 108, 0) 100%);
}
.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.home-wrapper{
    margin-top: 60px;
    width: 286px;
    height: 297px;
    display: flex;
    flex-direction: column;
   align-items: start;
}
.home-title{
    font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 30px;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #101828;
        text-align: left;
}
.home-text{
    margin-top: 10px;
    font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.04em;
        color: #5fb85f;
}
.home-line{
    margin-top: 36px;
    width: 64px;
        height: 2px;
        background: linear-gradient(90deg, #5fb85f 0%, rgba(85, 166, 85, 0.93) 7.14%, rgba(76, 149, 76, 0.86) 14.29%, rgba(67, 132, 67, 0.79) 21.43%, rgba(58, 116, 58, 0.71) 28.57%, rgba(49, 100, 49, 0.64) 35.71%, rgba(40, 84, 40, 0.57) 42.86%, rgba(32, 69, 32, 0.5) 50%, rgba(24, 55, 24, 0.43) 57.14%, rgba(16, 41, 16, 0.36) 64.29%, rgba(9, 27, 9, 0.29) 71.43%, rgba(4, 15, 4, 0.21) 78.57%, rgba(1, 5, 1, 0.14) 85.71%, rgba(0, 1, 0, 0.07) 92.86%, rgba(0, 0, 0, 0) 100%);
}
.home-text-wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    text-align: left;
    width: 272px;
}
@media only screen and (min-width: 1440px) {
.home-container{
    padding-top: 100px;
    flex-direction: row;
justify-content: center;
gap: 30px;
}
.home-wrapper{
    margin-top: 0;
    width: 592px;
}
.home-title{
    font-size: 60px;
}
.home-text{
    font-size: 24px;
    text-align: left;
}
.home-text-wrapper{
    margin-top: 30px;
    width: 530px;
}
}
/* What This Game Is */
.what-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.what-line{
    width: 64px;
        height: 2px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(1, 5, 1, 0.14) 7.14%, rgba(9, 27, 9, 0.29) 14.29%, rgba(24, 55, 24, 0.43) 21.43%, rgba(40, 84, 40, 0.57) 28.57%, rgba(58, 116, 58, 0.71) 35.71%, rgba(76, 149, 76, 0.86) 42.86%, #5fb85f 50%, rgba(76, 149, 76, 0.86) 57.14%, rgba(58, 116, 58, 0.71) 64.29%, rgba(40, 84, 40, 0.57) 71.43%, rgba(24, 55, 24, 0.43) 78.57%, rgba(9, 27, 9, 0.29) 85.71%, rgba(1, 5, 1, 0.14) 92.86%, rgba(0, 0, 0, 0) 100%);
}
.what-text{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
 .what-text{
    margin-top: 50px;
    gap: 32px;
    font-size: 20px;
        line-height: 1.6;
 }
 .mob{
    display: none;
 }
 .desk{
    display: block;
 }
}
/* Three steps. No tricks. */
.three-section{
background-image: url("/img/three/mob.png");
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
}
.three-swiper{
    margin-top: 30px;
}
.three-swiper .swiper-slide{
box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    background: #e8f5e8;
    border-radius: 14px;
        width: 320px;
        height: 298px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 37px;
}
.number{
    margin-top: 20px;
    margin-bottom: 16px;
    font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 10px;
        line-height: 1.5;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-align: center;
        color: #5fb85f;
}
.three-title-slide{
    font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.75;
        text-align: center;
        color: #101828;
        margin-bottom: 10px;
}
.three-text-slide{
    width: 273px;
}
.three-swiper .swiper-slide-two{
    background: #f5f5f0;
}
.number-two{
    color: #f4b183;
}
.three-swiper .swiper-slide-three{
background: #e8f2f8;
}
.number-three{
    color: #6ba8d4;
}
.arrow{
stroke:#151515;
}
.swiper-pagination {
    display: flex;
    align-items: center;
    gap: 6px;
}

.swiper-pagination-bullet {
    width: 4px !important;
    height: 4px !important;
    background: rgba(21, 21, 21, 0.6) !important;
    opacity: 1;
    border-radius: 50%;
}

.swiper-pagination-bullet-active {
    width: 6px !important;
    height: 6px !important;
    background: #151515 !important;
}
.swiper-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
    width: 134px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #000;
    background: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn:hover{
background: #729c72;
border: inherit;
}
.btn:hover .arrow{
stroke:white;
}
@media only screen and (min-width: 1440px) {
  .swiper-nav{
    display: none;
  }
  .three-swiper .swiper-wrapper{
    justify-content: center;
    gap: 44px;
  }
  .three-swiper .swiper-slide{
    height: 320px;
  }
  .core-title-slide{
    font-size: 20px;
  }
}
/* CORE MECHANICS */
.core-container{
    padding-left: 53px;
    padding-right: 53px;
}
.core-swiper{
    margin-top: 30px;
}
.core-swiper-nav{
    width: 164px;
}
.core-swiper .swiper-slide{
    border: 1px solid rgba(229, 231, 235, 0.6);
        border-radius: 14px;
        padding: 1px;
        width: 269px;
        height: 209px;
        background: #f5f5f0;
        padding: 33px;
        display: flex;
        flex-direction: column;
        align-items: start;
}
.core-title-slide{
    margin-top: 24px;
    margin-bottom: 16px;
    font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #101828;
}
.core-text-slide{
    text-align: left;
}
@media only screen and (min-width: 1440px) {
  .core-container{
    padding-left: 144px;
    padding-right: 144px;
  }
  .core-swiper .swiper-wrapper{
    flex-direction: column;
     flex-wrap: wrap;
    gap: 48px;
    height: 511px;
    column-gap: 48px;
  }
  .core-swiper .swiper-slide{
    width: 352px;
        height: 231px;
  }
  .core-title-slide{
    font-size: 16px;
  }
  .core-text-slide{
    font-size: 21px;
  }
}
/* It starts gentle,
then gets interesting. */
.it-img{
    display: none;
}
.it-title{
    font-size: 28px;
        letter-spacing: -0.03em;
        text-transform: none;
}
.it-text{
    margin-top: 10px;
    width: 306px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.42857;
}
.it-list{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.it-item{
    border-radius: 14px;
        width: 322px;
        height: 180px;
        box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.1), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
            background: #e8f5e8;
            padding: 22px 17px 22px 32px;

}
.it-item-wrapper{
             display: flex;
            flex-direction: column;
            align-items: start;
            gap: 16px;   
}
.it-title-wrapper{
    width: 100%;
    display: flex;
align-items: center;
justify-content: space-between;
}
.it-title-item{
font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    color: #101828;
}
.level{
    border-radius: 33554400px;
        padding: 4px 12px;
        background: rgba(255, 255, 255, 0.8);
        font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 12px;
            line-height: 1.33333;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #7dca7d;
}
.it-item-text{
    width: 221px;
    text-align: left;
    font-size: 13px;
}
.pieces{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 1.42857;
        color: #7dca7d;
}
.it-item-two{
    background: #fef5e8;
}
.level-two{
    color: #f4b183;
}
.pieces-two{
color: #f4b183;
}
.it-item-three{
    background: #e8f2f8;
}
.level-three{
    color: #6ba8d4;
}
.it-item-four{
    background: #fbeef5;
}
.level-four{
    color: #d97cb8;
}
@media only screen and (min-width: 1440px) {
.it-title{
    font-size: 40px;
    text-transform: uppercase;
}
.it-text{
    width: 588px;
}
.it-list{
    margin-top: 46px;
    gap: 24px;
}
.it-item{
    width: 972px;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
}
.it-img{
    display: block;
}
.it-item-wrapper{
    width: 621px;  
}
.it-title-item{
font-size: 20px;
}
.it-item-text{
    width: 621px;
    font-size: 20px;
        line-height: 1.1375;
}
.pieces{
    justify-content: start;
    gap: 24px;
}
}